@model Banking.Domain.Models.ViewModels.UserLoginView

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post))
{
    <h4>Please type next data:</h4>
<div>
    @if (ViewBag.Msg == null)
    {
        <label for="Login">Login<em>*</em></label>
        @Html.TextBox("Login", Model.Login, new { required = "required", minlength = Model.minL, maxlength = Model.maxL })
        <errormsg> @Html.ValidationMessage("Login") </errormsg><br>

        <input type="submit" value="Send mail" class="btn"/>
        @Html.ActionLink("Cancel", "Index", "Home", null, new {@class = "btn"})
    }
    else
    {
        <p>@ViewBag.Msg</p>
        @Html.ActionLink("Rerurn", "Login", null, null, new { @class = "btn" })
    } 
</div>
}