@model Banking.Domain.Models.ViewModels.UserLoginView

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <h4>Please enter your credentials:</h4>
    @Html.ValidationSummary()
    <div>
        
        <label for="Login">Login</label>
        @Html.TextBoxFor(x => x.Login, "Login", new { required = "required", placeholder = "John" })
        <br>
        <label for="Password">Password</label>
        @Html.TextBoxFor(x => x.Password, "Password", new { required = "required", type = "password", minlength = Model.minL, maxlength = Model.maxL })
        <br>
        @*@Html.EditorFor(m => m.Password)*@

        <p>
            @Html.CheckBox("RememberMe", true)Remember me
        </p>

        <input type="submit" value="Submit" class="btn" />

        <p> @Html.ActionLink("Register new account", "Register")</p>
        <p> @Html.ActionLink("Forgot password", "ForgotPassword") </p>

    </div>
}

