@model Banking.Domain.Models.ViewModels.UserRegisterView

@*@Html.Partial("Qtip")*@
<script src="~/Scripts/Custom.js" type="text/javascript"></script>

@{
  //  ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--стиль для ошибок-->
<style>
    input.error {
        background: red;
    }

    input.valid {
        background: green;
    }
</style>

@*@using (Html.BeginForm("Register", "User", FormMethod.Post))*@
<form action="Register" method="post" id="register_form" @*name="form_reg"*@>
    <h4>Please type next data:</h4>
    @*@Html.ValidationSummary()*@
    <div>
        <label for="Login">Login</label>
        @Html.TextBox("Login", Model.Login, new { required = "required", minlength = Model.minL, maxlength = Model.maxL, placeholder = "John" })
        <label for="Login"><em>*</em></label>

        <errormsg>
            @Html.ValidationMessage("Login")
        </errormsg><br>

        <label for="Password">Password<em>*</em></label>
        @Html.TextBox("Password", Model.Login, new { required = "required", type = "password", minlength = Model.minL, maxlength = Model.maxL })
        <errormsg> @Html.ValidationMessage("Password") </errormsg><br>

        <label for="ConfirmPassword">Confirm Password<em>*</em></label>
        @Html.TextBox("ConfirmPassword", Model.Login, new { required = "required", type = "password", minlength = Model.minL, maxlength = Model.maxL })
        <p>
            @Html.ValidationMessage("ConfirmPassword")
        </p>

        <label for="Email">Email<em>*</em></label>
        @Html.TextBox("Email", Model.Email, new { required = "required", type = "email", Value = "smart358@ukr.net" })
        @Html.ValidationMessage("Email")<br>

        <label for="Address">Address</label>
        @Html.TextBox("Address", Model.Address)
        @Html.ValidationMessage("Address")<br>

        <img src="@Url.Action("Captcha", "User")" alt="captcha" /><br>
        <label for="Captcha">Captcha<em>*</em></label>
        @Html.TextBox("Captcha", Model.Captcha, new { type = "number", placeholder = "Enter picture text" })
        @Html.ValidationMessage("Captcha")<br>

        @Html.CheckBox("SkipEmailConfirmation", false) Skip email confirmation<br />

        <input type="submit" value="Register" class="btn" id="subm_id" />
        @Html.ActionLink("Cancel", "Login", null, null, new { @class = "btn" })
</div>
</form>
