@model Banking.Domain.Models.ViewModels.UserRegisterView

@{
  //  ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Register", "User", FormMethod.Post))
{
    <h4>Please type next data:</h4>    
    @*@Html.ValidationSummary()*@
    <div>
        <label for="Login">Login<em>*</em></label>
        @Html.TextBox("Login", Model.Login, new { required = "required", minlength = Model.minL, maxlength = Model.maxL, placeholder = "John" })

        <errormsg>
            @Html.ValidationMessage("Login")
        </errormsg><br>

        <label for="Password">Password<em>*</em></label>
        @Html.TextBox("Password", Model.Login, new { required = "required", type = "password", minlength = Model.minL, maxlength = Model.maxL })
        <errormsg> @Html.ValidationMessage("Password") </errormsg><br>

        <label for="ConfirmPassword">Confirm Password<em>*</em></label>
        @Html.TextBox("ConfirmPassword", Model.Login, new { required = "required", type = "password", minlength = Model.minL, maxlength = Model.maxL })
        @Html.ValidationMessage("ConfirmPassword")<br>

        <label for="Email">Email<em>*</em></label>
        @Html.TextBox("Email", Model.Email, new { required = "required", type = "email" })
        @Html.ValidationMessage("Email")<br>

        <label for="Address">Address</label>
        @Html.TextBox("Address", Model.Address)
        @Html.ValidationMessage("Address")<br>

        <img src="@Url.Action("Captcha", "User")" alt="captcha" /><br>
        <label for="Captcha">Captcha<em>*</em></label>
        @Html.TextBox("Captcha", Model.Captcha, new { type = "number", placeholder = "Enter picture text" })
        @Html.ValidationMessage("Captcha")<br>

        @Html.CheckBox("SkipEmailConfirmation", false) Skip email confirmation<br/>

        <input type="submit" value="Register" class="btn" />
        @Html.ActionLink("Cancel", "Login", null, null, new { @class = "btn" })
</div>
}
